---
layout: default
title: Home Page
---

    {% include header.html %}

    {% include about.html %}

    {% include services.html %}

    {% include portfolio.html %}

    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>Free Download at Start Bootstrap!</h2>
                <a href="#" class="btn btn-default btn-xl wow tada">Download Now!</a>
            </div>
        </div>
    </aside>

{% include footer.html %}

